<a href="https://colab.research.google.com/github/woody35545/python_practice/blob/master/%EB%A6%AC%EC%8A%A4%ED%8A%B8%EC%B4%88%EA%B8%B0%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 n 차원 리스트 초기화

In [12]:
# 2차원 리스트 초기화

# 3x5 크기의 2차원 list 선언
list_a = [[0 for _ in range(3)] for _ in range(5)] 
print(list_a)

for i in range(5):
  print(f"id(list_a[{i}]) = {id(list_a[i])}")

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]
id(list_a[0]) = 139915154707632
id(list_a[1]) = 139915154540896
id(list_a[2]) = 139915153916864
id(list_a[3]) = 139915154054672
id(list_a[4]) = 139915153906576

In [11]:
# 다른 방식으로 3x5 리스트 초기화
list_b = [[0]*3 for _ in range(5)]
print(list_b)

for i in range(5):
  print(f"id(list_b[{i}]) = {id(list_b[i])}")

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]
id(list_b[0]) = 139915153979104
id(list_b[1]) = 139915154653904
id(list_b[2]) = 139915154149120
id(list_b[3]) = 139915153904496
id(list_b[4]) = 139915154541056

In [10]:
# 아래와 같이 선언하면 각 row들이 모두 같은 객체로 인식되는 문제가 발생함.
list_c = [[0]*3]*5
print(list_c)

# list_c 의 (0,1) 값을 99로 변경
list_c[0][1] = 99

# list_c 의 모든 (*,1) 값들이 99로 변경되게 됨
print(list_c)

# 각 row에 대한 id 값 확인해보면, 서로 다른 column임에도 불구하고 동일한 id 값을 가지게 되는 것을 볼 수 있음
for i in range(5):
  print(f"id(list_c[{i}]) = {id(list_c[i])}")

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 99, 0], [0, 99, 0], [0, 99, 0], [0, 99, 0], [0, 99, 0]]
id(list_c[0]) = 139915154540576
id(list_c[1]) = 139915154540576
id(list_c[2]) = 139915154540576
id(list_c[3]) = 139915154540576
id(list_c[4]) = 139915154540576